<h1>Add a contact</h1>
<p>Add a contact here:</p>
<form action="/contacts" method="post">
  <label for="contact-name">Contact name</label>
  <input id="contact-name" name="contact-name" type="text">
  <label for="contact-phone-number">Contact Phone Number</label>
  <input id="contact-phone-number" name="contact-phone-number" type="text">
  <label for="contact-address">Contact Address</label>
  <input id="contact-address" name="contact-address" type="text">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back home</a></p>
